.superior {
  text-align: center;
  background: #05E8F7;
	padding: 70px ;
  margin: 0.6em;
  border: solid 0.4em;
  border-color: #22CAD5;
}

.superior .intsup .boton{
  background: none;
  font-size: 15px;
  padding: 15px;
  color: #fff;
	border: 2px solid #22CAD5;
}

.superior .intsup .text{
  text-align: left;
  font-size: 22px;
  width : 750px;

}

/* lista */

.listadetareas .lista{
text-align:center;
font-size: 22px;
cursor: pointer;
}

.lista {
	list-style: none;
}

.lista  a {
	color: black;
  padding: 10px ;
  display: block;
	text-decoration: none;
  cursor: pointer;
}
/*tachar*/

.listadetareas .lista a:hover {
	text-decoration: line-through;
  color: black ;
}
/*footer*/
footer{

  width: 100%;
  background: #0B0B0B;

}

p{

  font-size: 20px;
  color:white;
  height: 1px ;
  margin-top: 360px;
  text-align: center;

}

.link a {
  padding-left: 96%;
  color : white;
  border: 2px solid #0B0B0B;
  background-color: #0B0B0B;

}
